.screen-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: calc(100% - 2 * 10px);
  background: rgb(var(--bronze));
  padding: 14px 10px;
}

.title {
  margin: 0;
  font-weight: 400;
}

.subtitle {
  margin: 0;
  margin-left: 2px;
  margin-top: 2px;
  font-weight: 400;
}

.btns-container {
  margin-top: 50px;
  width: 80%;
  position: relative;
}

.page-btns-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  transition: opacity 0.5s ease;
}

.done-btn {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  transition: opacity 0.5s ease;
}
