.goal-container {
  width: 100%;

  display: flex;
  align-items: center;
  padding-top: 15px;

  --space-between: 12px;
  --svg-dimension: 24px;
}

.goal-text {
  font-size: 18px;
}

.goal-text:hover {
  cursor: pointer;
}

.text-completed {
  margin-left: var(--space-between);
}

.text-incomplete {
  margin-left: calc(var(--space-between) + var(--svg-dimension));
}

.text-incomplete:active {
  color: rgb(var(--white), 0.5);
}

.svg {
  height: var(--svg-dimension);
  width: var(--svg-dimension);
}

.checkmark-path {
  stroke: rgb(var(--green));
  stroke-dashoffset: 363.2672119140625;
  stroke-dasharray: 363.2672119140625;
  animation: check 1s ease-out forwards;
}

@keyframes check {
  to {
    stroke-dashoffset: 0;
  }
}
