.goal-container {
  width: 100%;

  display: flex;
  align-items: center;
  padding-top: 15px;
}

.goal-text {
  margin-left: 15px;
  font-size: 26px;
}

.unchecked-circle {
  fill: rgba(var(--white), 0.2);
}

.checkmark-svg {
  background: rgba(var(--white), 0.2);
}

.checkmark-path {
  stroke: rgb(var(--green));
  stroke-dashoffset: 363.2672119140625;
  stroke-dasharray: 363.2672119140625;
  animation: check 1s ease-out forwards;
}

@keyframes check {
  to {
    stroke-dashoffset: 0;
  }
}
