@keyframes show-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes hide-down {
  from {
    opacity: 100%;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(100px);
  }
}
