html {
  width: 100%;
  height: 100%;

  /** Color palette */
  --white: 236, 236, 241;
  --light: 64, 65, 79;
  --medium: 52, 53, 65;
  --medium-tinted: 62, 63, 75;
  --dark: 32, 33, 35;
  --confirm: 25, 195, 125;
  --link: 72, 161, 232;
  --bronze: 112, 66, 20;
  --silver: 82, 82, 82;
  --gold: 166, 124, 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: rgb(var(--white));

  background: rgb(var(--medium));
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}
