html {
  width: 100%;
  height: 100%;

  /** Color palette */
  --white: 236, 236, 241;
  --light: 64, 65, 79;
  --medium: 52, 53, 65;
  --medium-tinted: 62, 63, 75;
  --dark: 32, 33, 35;
  --confirm: 25, 195, 125;
  --link: 72, 161, 232;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(var(--white));

  background: rgb(var(--medium));
}

body {
  margin: 0 auto;
  max-width: 1400px;
  height: 100%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
